[Desktop Entry]
Exec=unharden_malloc alacritty
Name=unharden_malloc alacritty
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
