[Unit]
Description=Run my service daily at 11:01 AM and 10:01 AM, and every 15 minutes

[Timer]
OnCalendar=*:0/15
Persistent=true
Unit=gtavibot.service

[Install]
WantedBy=timers.target
